

*{/*UNIVERSAL*/
    margin: 0;/*MARGEM*/
    padding: 0;/*ESPAÇAMENTO INTERNO*/
}



img{ /*Estilo de tag imagem*/
    height: 92px; /*ALTURA*/
}
a{
    text-decoration: none; /*Decoração*/
    color:rgb(32,33,36); /*Cor Texto*/
    font-size: 13px; /*Tamanho Fonte*/
    font-family: sans-serif;/*tipo/familia*/
}
.botao-login{
    background-color: #1a73e8;/*cor plano de fundo*/
    color: white; /*cor de texto*/
   padding: 13px 12px; /*espaçamento interno*/
   border-radius: 100px;/*raio da borda*/
}

.icone-produtos{/*CLASSE DE ICONES*/
   width:24px ; /*largura*/
   fill: #444746; /*cor preenchimento*/
}
footer{/*Seletor da tag Footer/Rodapé*/
    background-color: #f2f2f2;/*Cor de fundo*/
}